 
{% block content %}
{% load static %}
background-color: red;

<style>
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        background-image: url('{% static 'images/bc.jpeg' %}'); background-size: cover; background-repeat: no-repeat;
    }
    .mybox {
        padding: 10%;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding-top: 10%;
    }

    .url-container {
        text-align: center;
        backdrop-filter: blur(22px); 
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .url-input {
        width: 66%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-sizing: border-box;
    }

    .the_format-label {
        display: block;
        margin-bottom: 10px;
    }

    .the_format-select {
        width: 300px;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .download-button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .download-button:hover {
        background-color: #0056b3;
    }

    
    
    
</style>
 
{% load static %}
{% include 'navbar.html' %}

<div class="mybox">
    <form class="form-group"  method="post" >
        {% csrf_token %}        
        <div class="url-container">
            <input type="text" class="url-input" id="url" name="url" placeholder="Enter the URL...">

            <br>
            <label for="the_format" name="the_format"  >Choose a  format:</label>
            <select id="the_format" name="the_format" class="the_format-select">
                <option value="Audio">Audio</option>
                <option value="video">video</option>
            </select>
            <br>
            <button class="download-button">download</button>
        </div>

    </form>

</div>
    
 
    
 
{% endblock %} 